<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Market Prediction APP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


</head>
<body class="is-preload">
  <style>
div.a {
        text-align: center;
}
</style>
 <div class="a">
 <p><h1>LaFranc dApp</h1> </p>
  <p><h3><a href="/stocks"><button type="submit" class="btn btn-primary btn-block btn-large">Stocks</button></a></h3></p><br><br>
  <p><h3><a href="/crypto"><button type="submit" class="btn btn-primary btn-block btn-large">Crypto</button></a></h3></p><br>
   <p><h3><a href="/c_force"><button type="submit" class="btn btn-primary btn-block btn-large">C-Force</button></a></h3></p><br>
</body>

      <div id="disqus_thread"></div>

      <script>

        (function() {

          // DON'T EDIT BELOW THIS LINE

          var d = document,

            s = d.createElement("script");

          s.src = "https://projectgammaai.herokuapp.com/";

          s.setAttribute("data-timestamp", +new Date());

          (d.head || d.body).appendChild(s);

        })();

      </script>

      <noscript

        >Please enable JavaScript to view the

        <a href="https://disqus.com/?ref_noscript"

          >comments powered by Disqus.</a

        ></noscript

      >

    </main>



    <footer id="main-footer">

      Copyright &copy; 2020

    </footer>

  <!-- Adding comments section -->




<!--
    <script>

      // Select DOM Items

      const menuBtn = document.querySelector(".menu-btn");

      const menu = document.querySelector(".menu");

      const menuNav = document.querySelector(".menu-nav");

      const menuBranding = document.querySelector(".menu-branding");

      const navItems = document.querySelectorAll(".nav-item");


    </script> -->
</div>
</body>
</div>
</body>
</html>
